* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('./assets/img/outside_all_cat_bg.jpg');
    background-size: 450px;
    background-position: center;
}

.container {
    width: 450px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px 5%;
    background-image: url('./assets/img/all_cat_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

#app {
    width: 100%;
    height: 450px;
    position: relative;
    margin-bottom: 50px;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    background: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;

    &.loading {
        width: 150px;
        height: 150px;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        box-shadow: none;
        cursor: initial;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
}

.summary-container {
    img {
        width: 100%;
        height: 150px;
        border-radius: 10px;
    }
}

#retry {
    transition: 0.2s;
    margin-top: 20px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #4d4d4d;
    background-color: #facccc;
    border-radius: 15px;
    border-color: transparent;

    &:hover {
        background-color: #ffaeae;
    }
}